<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      <article class="pt-5">
        <header class="pb-4">
          <h1>{{questionary.title}}</h1>
        </header>
        <div>
          <ol class="choices">
            {{#each questionary.choices as |choice i|}}
              {{choice-voting
                choice=choice
                isAnyVoted=isVoted
                isVoted=(compare i "===" votedIndex)
                onVote="vote"
              }}
            {{/each}}
          </ol>
          <dl class="row pt-4 pb-4">
            {{#if isVoted}}
              <dt class="col-5 col-sm-4">Total votes</dt>
              <dd class="col-7 col-sm-8">{{questionary.totalVotesCount}}</dd>
              <dt class="col-5 col-sm-4 mb-2">Started at</dt>
              <dd class="col-7 col-sm-8 mb-2">{{questionary.createdAt}}</dd>
            {{/if}}
            <dd class="col-12">
              <a href="#" class="text-muted">
                <i class="material-icons"><small>link</small></i>
                Share this link
              </a>
            </dd>
          </dl>
        </div>
      </article>
    </div>
  </div>
</div>
