<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      <form class="pt-5">
        <div class="form-group pb-3">
          <label>Title</label>
          {{textarea
            autoresize=true
            rows=1
            class="form-control form-control-lg not-resizable"
            placeholder="ex: Which your favorite coffee?"
          }}
        </div>
        <div class="form-group">
          <label>Choices</label>
          {{textarea
            autoresize=true
            rows=1
            class="form-control not-resizable"
            placeholder="ex: Cappuccino"
          }}
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-link">
            <i class="material-icons">add</i>
            <span>Add choice</span>
          </a>
        </div>
        <div class="form-group text-center pt-3">
          <button class="btn btn-outline-primary">
            Start voting!!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
