{{title "OneVote - Fast & Easy polls" separator=" | " prepend=true}}
{{outlet}}

<footer class="global-footer">
  <nav class="global-footer__nav">
    <ul class="global-footer__nav-list">
      <li class="global-footer__nav-item">
        {{#link-to "home"}}Home{{/link-to}}
      </li>
      <li class="global-footer__nav-item">
        {{#link-to "release-notes"}}Release notes{{/link-to}}
      </li>
    </ul>
  </nav>
</footer>
