<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      <article class="pt-5">
        <header class="pb-4">
          <h1>Which your favorite coffee?</h1>
        </header>
        <div>
          <ol class="choices">
            <li class="choice active">
              <div class="choice__bg">
                <div class="choice__rate-bar"></div>
              </div>
              <div class="choice__fg">
                <a href="#">Espresso<br />Espresso<br />Espresso</a>
                <i class="choice__mark material-icons text-primary">check</i>
                <div class="choice__rate-number">20%</div>
              </div>
            </li>
            <li class="choice">
              <div class="choice__bg">
                <div class="choice__rate-bar"></div>
              </div>
              <div class="choice__fg">
                <a href="#" disabled="disabled">Americano</a>
                <div class="choice__rate-number">40%</div>
              </div>
            </li>
            <li class="choice">
              <div class="choice__bg">
                <div class="choice__rate-bar"></div>
              </div>
              <div class="choice__fg">
                <a href="#" disabled="disabled">Cappuccino</a>
                <div class="choice__rate-number">40%</div>
              </div>
            </li>
            <li class="choice">
              <div class="choice__bg">
                <div class="choice__rate-bar"></div>
              </div>
              <div class="choice__fg">
                <a href="#" disabled="disabled">Cappuccino</a>
                <div class="choice__rate-number">40%</div>
              </div>
            </li>
            <li class="choice">
              <div class="choice__bg">
                <div class="choice__rate-bar"></div>
              </div>
              <div class="choice__fg">
                <a href="#" disabled="disabled">Cappuccino</a>
                <div class="choice__rate-number">40%</div>
              </div>
            </li>
          </ol>
          <dl class="row pt-4 pb-4">
            <dt class="col-5 col-sm-4 ">Total votes</dt>
            <dd class="col-7 col-sm-8 ">15</dd>
            <dt class="col-5 col-sm-4 ">Started at</dt>
            <dd class="col-7 col-sm-8 ">2017-03-25 10:00</dd>
            <dd class="col-12">
              <a href="#" class="text-muted">
                <i class="material-icons"><small>link</small></i>
                Share this link
              </a>
            </dd>
          </dl>
        </div>
      </article>
    </div>
  </div>
</div>
