<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      <article class="pt-5">
        <header class="pb-4">
          <h1>Release notes</h1>
        </header>
        <div>
          <article class="mb-4">
            <p><time><strong>2017-05-06</strong></time></p>
            <p>
              First release
            </p>
          </article>
        </div>
      </article>
    </div>
  </div>
</div>
